<div class="mb-4">
  <h2 class="mb-4"><%= @idea.title %></h2>
  <p class="mb-4"><%= @idea.description %></p>
  <div>
    <small>
      Posted <%= time_tag @idea.created_at, "data-local":"time-ago" %> by <%= @idea.user&.name || "Deleted User" %>
    </small>
  </div>
  
</div>
<hr />
<div>
  <h4>Write Review</h4>
  <% if @review.errors.any? %>
    <div class="alert alert-danger">
      <h5>
        <%= pluralize(@review.errors.count, "error") %> prohibited this comment
        from being saved:
      </h5>
      <ul class="m-0">
        <% @review.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model:[@idea, @review]) do |f| %>
    <div class="mb-3">
      <%= f.text_area :body, class:"form-control", disabled: !user_signed_in? %>
    </div>
    <% if user_signed_in? %>
      <%= f.submit "Submit", class:"btn btn-outline-primary" %> 
    <% else %>
      <%= link_to "Sign In", session_path, class:"btn btn-outline-primary" %>
      or
      <%= link_to "Sign Up", new_session_path, class:"btn btn-outline-primary" %>
    <% end %>
  <% end %>
</div>

<% if @reviews.any? %>
  <div class="mt-4">
   <h4><%= pluralize(@reviews.count, "Reviews") %></h4>
    <% @reviews.each do |review| %>
    <div id="<%= dom_id(reviews) %>" class="my-3">
      <div><%= review.body %></div>
      <small class="d-flex">
        <span>
        By <%=  review.user&.name || "Deleted User" %>, 
        <%= time_tag review.created_at, "data-local":"time-ago" %>
        </span>
        <% if can? :destroy, review %>
          <span class="mx-1">·</span>
          <%= button_to "Delete", idea_review_path(@idea, review), method:
          :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:
          "link-primary link-btn" %>
        <% end %>
      </small>
      <hr />
    </div>
    <% end %>
  </div>
<% end %>